<div ng-controller="RankingCtrl">
  <tabset class="tab-animation">
    <tab heading="Best players">
      <div class="ranking-tab-content-wrapper">
        <div class="row header">
          <div class="col-xs-3 text-center">
            Rank
          </div>
          <div class="col-xs-6">
            Name
          </div>
          <div class="col-xs-3 text-center">
            Points
          </div>
        </div>
        <div class="row content" ng-show="getLength(rankings) > 0">
          <div class="row" ng-repeat="item in rankings">
            <div class="col-xs-3 text-center">
              {{$index + 1  | minLength: 2}}
            </div>
            <div class="col-xs-6">
              {{item.player}}
            </div>
            <div class="col-xs-3 text-center">
              {{item.scores | minLength: 2}}
            </div>
          </div>
        </div>
        <div class="row content" ng-show="getLength(rankings) == 0">
          <p class="text-warning">Whoops, no game yet. Let's play?</p>
        </div>
      </div>

    </tab>
    <tab heading="Best teams">
      <div class="ranking-tab-content-wrapper">
        <div class="row header">
          <div class="col-xs-3 text-center">
            Rank
          </div>
          <div class="col-xs-6">
            Team
          </div>
          <div class="col-xs-3 text-center">
            Points
          </div>
        </div>
        <div class="row content" ng-show="getLength(teamRankings) > 0">
          <div class="row" ng-repeat="item in teamRankings">
            <div class="col-xs-3 text-center">
              {{$index + 1  | minLength: 2}}
            </div>
            <div class="col-xs-6">
              {{item.players[0]}}<br/>{{item.players[1]}}
            </div>
            <div class="col-xs-3 text-center">
              {{item.scores  | minLength: 2}}
            </div>
          </div>
        </div>
        <div class="row content" ng-show="getLength(teamRankings) == 0">
          <p class="text-warning">Probably all rone rangers out there, or no game yet :(</p>
        </div>
      </div>

    </tab>
  </tabset>
  <div class="loader-wrapper" ng-class="{true: 'hide'}[doneCalc]">
    <img src="assets/images/ripple.svg"/>
  </div>
</div>
