// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;


.login-wrapper
{
  @include border-radius-right(12px);

  height: 100%;

  background: $loginBg;
  h3
  {
    border-bottom: 2px solid #b7b7b3;
  }

  .btn-login
  {
    background: #3e3e3c;
  }

  .input--kaede {
    background: #989895;
  }
}
.mobile-login-content-wrapper
{
  .login-wrapper {
    @include border-radius(12px);
  }
}
