<div class="col-xs-6 login-wrapper login-section-common-style">
  <h3>Already registered?</h3>
  <form class="form" name="formLogin" ng-submit="login(formLogin)" ng-controller="LoginCtrl" novalidate>


    <div class="form-group">
      <span class="input input--kaede" ng-class="{true: 'input--filled'}[user.email !== '']">
        <input class="input__field input__field--kaede" placeholder="xxx@roomorama.com" type="email" id="login-email" name="email" class="form-control" ng-model="user.email" required />
        <label class="input__label input__label--kaede" for="login-email">
          <span class="input__label-content input__label-content--kaede">Email</span>
        </label>
      </span>
      <span class="text-danger" ng-show="(formLogin.email.$error.required || formLogin.email.$error.email) && submitted">
        Enter a valid email (e.g. xxx@roomorama.com)
      </span>

    </div>

    <div class="form-group">
      <span class="input input--kaede"  ng-class="{true: 'input--filled'}[user.password !== '']">
        <input class="input__field input__field--kaede" placeholder="***" type="password" name="password" class="form-control" ng-model="user.password" required id="login-password"/>
        <label class="input__label input__label--kaede" for="login-password">
          <span class="input__label-content input__label-content--kaede">Password</span>
        </label>
      </span>
      <span class="text-danger" ng-show="(!errors.other && formLogin.password.$error.required  && submitted)">
        Please enter your password
      </span>
       <span class="text-danger" ng-show="(errors.other)">
         {{ errors.other }}
       </span>
    </div>

    <div>
      <button class="btn btn-lg btn-login btn-block" type="submit">
        Login
      </button>
    </div>

  </form>
</div>
