<div class="navbar navbar-default navbar-static-top" ng-class="{true: 'showGameForm'}[showGameForm.showGameForm]" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="game-form-menu visible-lg visible-sm visible-md">
      <div>
        <gamecreator></gamecreator>
      </div>
    </div>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand header-logo" ng-class="{true: 'showGameForm'}[showGameForm.showGameForm]"></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLoggedIn()" class="visible-lg visible-sm visible-md"><a href="" class="create-game-link" ng-click="showGameForm.showGameForm = !showGameForm.showGameForm"><span class="glyphicon glyphicon-plus" ng-class="showGameForm.showGameForm ? 'glyphicon-remove': 'glyphicon-plus'"></span> {{showGameForm.showGameForm ? 'Close' : 'New Game'}}</a></li>

        <li ng-show="isLoggedIn()" class="visible-xs"><a href="" class="create-game-link" ng-click="showGameForm.showGameForm = true; isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-plus" ng-class="'glyphicon-plus'"></span> New Game</a></li>

        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>

    </div>
  </div>

</div>
