.navbar
{
  background: $themebg;
  a
  {
    color:#fff;
  }
}

.header-logo
{
  margin: 15px 0 0 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  height: 22px;
  width: 204px;
  background: url(../assets/images/logo-1f253cec9f2b2f629440213db0277b5bab62b9d346982514494fa1e86fe65e70.svg) no-repeat;
}
