.navbar
{
  background: $themebg;
  a
  {
    color:#fff;
  }
}

.header-logo
{
  margin: 15px 0 0 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  height: 22px;
  width: 204px;
  background: url(../assets/images/logo-1f253cec9f2b2f629440213db0277b5bab62b9d346982514494fa1e86fe65e70.svg) no-repeat;
}


.navbar-nav
{
  li > a
  {
    color: #fff !important;

  }
  li > a:hover
  {
    color:#fff;
  }
}


.header-logo.showGameForm {
  visibility: visible;
  opacity: 0;
}


@media (max-width: $screen-xs-max) and (max-width:  $screen-sm-min){
  .header-logo
  {
    margin: 15px 0 0 15px;
  }
  .header-logo.showGameForm {
    visibility: visible;
    opacity: 1;
  }

  .game-form-menu
  {
    display: none;
  }

  .create-game-link
  {
    @include border-radius(-0x);
    border: none;
  }

}

@media (min-width: $screen-sm-min){

  .navbar {
    width: 100%;
    max-height: 50px;
    height: auto;

    overflow: hidden;

    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;

    .game-form-menu
    {
      max-height: 0px;
      -webkit-transition: max-height 0.8s;
      -moz-transition: max-height 0.8s;
      transition: max-height 0.8s;

      opacity: 0;
    }

  }
  .navbar.showGameForm {
    max-height: 650px;
    height: auto;
    .game-form-menu
    {
      height: auto;
      max-height: 600px;
      opacity: 1;
    }
  }
}
