html, body,.content-wrapper, .container-fluid {
  height: 100%;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif !important;
//  background: #fff;
//  color: #fff;
}

.text-danger
{
  float: left;
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
}


.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}


.create-game-link, .close-game-mobile
{
  @include border-radius(21px);
  border: thin solid white;
  padding: 5px 15px !important;
  margin-right: 10px;
  margin-top: 9px;
  color: #fff;

  &:hover
  {
    color: #fff;
    text-decoration: none;
  }
}

.game-form-mobile
{
  max-height: 0px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;

  opacity: 0;




  &.show
  {
    margin-top: -20px;
    height: auto;
    max-height: 660px;
    opacity: 1;
    margin-bottom: 30px;
  }

  h3
  {
    font-size: 18px;
    line-height: 24px;
  }

  h4
  {
    font-size: 14px;
  }

  .btn-create-game
  {
    font-size: 12px;
  }
}
@media (max-width: $screen-xs-max) and (max-width:  $screen-sm-min) {
  .text-danger {
    font-size: 12px !important;
  }
}


