.sign-up-wrapper
{
  @include border-radius-left(12px);

  background: #fffffe;
  h3
  {
    border-bottom: 2px solid #f4f4f2;
  }
  .btn-login
  {
    background: #5f605d;
  }

  .input--kaede {
    background: #f5f4f3;
  }

  .input__field {
    background: #dedede;
  }
}
