<div class="col-xs-6 sign-up-wrapper login-section-common-style">
  <h3>New Member?</h3>
  <form class="form" name="formRegister" ng-controller="SignupCtrl" ng-submit="register(formRegister)" novalidate>

    <div class="form-group" ng-class="{ 'has-success': formRegister.fname.$valid && submitted,
                                            'has-error': formRegister.fname.$invalid && submitted }">
      <label>
        First Name
      </label>
          <span class="text-danger" ng-show="formRegister.fname.$error.required && submitted">
            - First name is required
          </span>


      <input type="text" name="fname" class="form-control" ng-model="reguser.fname"
             required/>

    </div>

    <div class="form-group" ng-class="{ 'has-success': formRegister.lname.$valid && submitted,
                                            'has-error': formRegister.lname.$invalid && submitted }">
      <label>Last Name</label>
          <span class="text-danger" ng-show="formRegister.lname.$error.required && submitted">
            - Last name is required
          </span>

      <input type="text" name="lname" class="form-control" ng-model="reguser.lname"
             required/>

    </div>

    <div class="form-group" ng-class="{ 'has-success': formRegister.email.$valid && submitted,
                                            'has-error': formRegister.email.$invalid && submitted }">
      <label>Email</label>
          <span class="text-danger" ng-show="formRegister.email.$error.email && submitted">
            - Enter a valid email (e.g. xxx@roomorama.com)
          </span>
          <span class="text-danger" ng-show="formRegister.email.$error.required && submitted">
            - Enter a valid email (e.g. xxx@roomorama.com)
          </span>
          <span class="text-danger" ng-show="formRegister.email.$error.mongoose">
            - {{ regerrors.email }}
          </span>

      <input type="email" name="email" class="form-control" ng-model="reguser.email"
             required
             mongoose-error/>

    </div>

    <div class="form-group" ng-class="{ 'has-success': formRegister.password.$valid && submitted,
                                            'has-error': formRegister.password.$invalid && submitted }">
      <label>Password</label>
          <span class="text-danger" ng-show="(formRegister.password.$error.minlength || formRegister.password.$error.required) && submitted">
            - Password must be at least 3 characters.
          </span>
          <span class="text-danger" ng-show="formRegister.password.$error.mongoose">
            - {{ regerrors.password }}
          </span>

      <input type="password" name="password" class="form-control" ng-model="reguser.password"
             ng-minlength="3"
             required
             mongoose-error/>

    </div>

    <div>
      <button class="btn btn-lg btn-login btn-block" type="submit">
        Sign up
      </button>
    </div>

  </form>
</div>
