<div class="col-xs-6 sign-up-wrapper login-section-common-style" ng-class="{true:'col-xs-12'}[formtype=='mobile']">
  <h3>New Member?</h3>
  <form class="form" name="formRegister" ng-controller="SignupCtrl" ng-submit="register(formRegister)" novalidate>

    <div class="form-group">
      <span class="input input--kaede" ng-class="{true: 'input--filled'}[reguser.fname !== '']">
        <input class="input__field input__field--kaede" placeholder="John" id="{{formtype}}-signup-fname" type="text" name="fname" class="form-control" ng-model="reguser.fname" required />
        <label class="input__label input__label--kaede" for="{{formtype}}-signup-fname">
          <span class="input__label-content input__label-content--kaede">First Name</span>
        </label>
      </span>

          <span class="text-danger" ng-show="formRegister.fname.$error.required && submitted">
            First name is required
          </span>
    </div>

    <div class="form-group">
      <span class="input input--kaede" ng-class="{true: 'input--filled'}[reguser.lname !== '']">
        <input class="input__field input__field--kaede" placeholder="Doe" id="{{formtype}}-signup-lname" type="text" name="lname" class="form-control" ng-model="reguser.lname" required />
        <label class="input__label input__label--kaede" for="{{formtype}}-signup-lname">
          <span class="input__label-content input__label-content--kaede">Last Name</span>
        </label>
      </span>
          <span class="text-danger" ng-show="formRegister.lname.$error.required && submitted">
            Last name is required
          </span>
    </div>

    <div class="form-group">
      <span class="input input--kaede" ng-class="{true: 'input--filled'}[reguser.email !== '']">
        <input class="input__field input__field--kaede" placeholder="xxx@roomorama.com" id="{{formtype}}-signup-email" type="email" name="email" ng-change="regerrors.email = null" class="form-control" ng-model="reguser.email" required mongoose-error/>
        <label class="input__label input__label--kaede" for="{{formtype}}-signup-email">
          <span class="input__label-content input__label-content--kaede">Email</span>
        </label>
      </span>
          <span class="text-danger" ng-show="(formRegister.email.$error.email || formRegister.email.$error.required || regerrors.email) && submitted">
            Enter a valid email (e.g. xxx@roomorama.com)
          </span>
    </div>

    <div class="form-group">
       <span class="input input--kaede" ng-class="{true: 'input--filled'}[reguser.password !== '']">
        <input class="input__field input__field--kaede" placeholder="***" id="{{formtype}}-signup-password" type="password" name="password" class="form-control" ng-model="reguser.password"
               ng-minlength="3"
               required
               mongoose-error/>
        <label class="input__label input__label--kaede" for="{{formtype}}-signup-password">
          <span class="input__label-content input__label-content--kaede">Password</span>
        </label>
      </span>
          <span class="text-danger" ng-show="!formRegister.password.$error.mongoose && (formRegister.password.$error.minlength || formRegister.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </span>
          <span class="text-danger" ng-show="formRegister.password.$error.mongoose">
            {{ regerrors.password }}
          </span>
    </div>

    <div>
      <button class="btn btn-lg btn-login btn-block" type="submit">
        Sign up
      </button>
    </div>
    <div class="visible-xs visible-sm text-danger member-mobile-switch" ng-click="isMobileRegistration.isMobileRegistration=false">
      Already a member?
    </div>

  </form>
</div>
