$loginBg:                           #c7c6c2;

.login-outer-wrapper
{
  background: $themebg;
  color: #fff;

  .form-group
  {
    height: 55px;
  }

  .text-danger
  {
    float: left;
    margin-top: 5px;
    font-style: italic;
    font-size: 12px;
  }

  .login-content-wrapper
  {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

    color: #2e2e2c;

    .login-section-common-style
    {
      padding: 0 25px 25px 25px;
      height: 450px !important;
      box-sizing: border-box;
      h3
      {
        padding-bottom: 5px;
        margin-bottom: 30px;
      }

      .btn
      {
        margin-top: 20px;
        color: #fff;
      }
      input
      {
        border: none;
      }
    }
  }

  //text input styling
  label
  {
    margin-bottom: 0px;
  }

  .input {
    @include border-radius(6px);
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    vertical-align: top;

  }

  .input__field {
    position: relative;
    display: block;
    float: right;
    padding: 10px;
    width: 60%;
    border: none;
    @include border-radius-left(6px);
    background: #fff;
    color: #aaa;
    font-weight: bold;
    -webkit-appearance: none; /* for box shadows to show on iOS */
  }

  .input__field:focus {
    outline: none;
  }

  .input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #4d4d4d;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .input__label-content {
    position: relative;
    display: block;
    padding: 10px 0;
    width: 100%;
  }

  .graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
  }

  .icon {
    color: #ddd;
    font-size: 150%;
  }

  .input--kaede {
    display: block;
    overflow: hidden;
    background: #989895;
  }

  .input__field--kaede {
    position: absolute;
    top: 0;
    right: 100%;
    width: 60%;
    height: 100%;
    background-color: #fff;
    color: #000;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  .input__label--kaede {
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: text;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  .input__label-content--kaede {
    padding: 10px 0;
  }

  .input__field--kaede:focus,
  .input--filled .input__field--kaede {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition-delay: 0.06s;
    transition-delay: 0.06s;
  }

  .input__field--kaede:focus + .input__label--kaede,
  .input--filled .input__label--kaede  {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    pointer-events: none;
  }

  @media screen and (max-width: 34em) {
    .input__field--kaede:focus + .input__label--kaede,
    .input--filled .input__label--kaede  {
      -webkit-transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
      transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
      pointer-events: none;
    }
  }
}
